doctype html
html(lang='en')
  head
    meta(charset = 'utf-8')
    meta(name = 'author', content = 'lovmanes')
    script(src = "/app/app.js")
    script(src = "/angular/angular.js")
  body
    h1 Hola mundo sublime hola